@model thcp3.Models.Departament


@{
    ViewData["Title"] = "Details";


}

<h1>Detalles</h1>

<div>
    <h4>Departamento</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DepartamentName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DepartamentName)
        </dd>

    </dl>
</div>

<div>
    <a asp-action="Edit" class="btn btn-warning" asp-route-id="@Model.DepartamentId">Editar</a>
    <a asp-action="Index" class=" btn btn-warning">Regresar</a>


</div>